In [1]:
# 1
tmp = "hello world"
print(tmp)

hello world

In [2]:
# 2
tmp = "hello world"
print(tmp,tmp,tmp,sep="~! ")

hello world~! hello world~! hello world

In [3]:
# 3 
tmp = "!"
for _ in range(50) :
    print(tmp,end="")

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [2]:
# 4
tmp = "17.24"
print(type(tmp))

<class 'str'>

In [3]:
# 5 
tmp = "17.24"
tmp = float(tmp)
print(type(tmp))

<class 'float'>

In [6]:
# 7

from math import *
print(sin(pi/2))

1.0

In [4]:
# 8
import math

print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [5]:
# 9
N = int(input())

print("10 *",float(N),"=",N * 10,"!")

10 * 2.0 = 20 !

In [9]:
# 10

N = int(input())
if(N == 0) : print(0)
elif(N % 2 == 0) : print("even")
elif(N % 2 != 0) : print("odd")

even

In [10]:
# 11
N = int(input())
if(N % 2 == 0 and N % 3 == 0 and N % 5 == 0) : print("ok")

ok

In [11]:
# 12 
N = int(input())
if(N % 2 == 0) : print("2x",end=" ")
if(N % 3 == 0) : print("3x",end=" ")
if(N % 5 == 0) : print("5x",end=" ")

2x 3x 5x

In [26]:
# 13 
N = str(input())

if(N == "monday" or N == "tuesday" or N == "wednesday" or N == "thursday" or N == "friday") : print("weekday")
elif(N == "saturday" or N == "sunday") : print("weekend")

weekend

In [2]:
# 14 
N = int(input())

if(N >= 0 and N <= 750) : print("TOP")
elif(N > 750 and N <= 810) : print("111")
elif(N > 810 and N <= 870) : print("222")
elif(N > 870 and N <= 950) : print("333")
elif(N > 950 ) : print("XXX")

333

In [ ]:
# 15 

# 이유로는 "False"는 문자열이기에 항상 True로 판정받으며 False은 bool형 자료형 이기에 0 이다
# 둘을 or할 경우에는 True(0이 아닌 숫자)가 무조건 참참으로 나오기에 첫 번째 if문인 True가 나온다.

In [15]:
# 16
tmp = "hello world"
cnt = 0
for i in tmp :
    if(i == 'l') : cnt += 1
print(cnt)

3

In [16]:
# 17
tmp = "heLLo world"
cnt = 0
for i in tmp :
    if(i == 'l' or i == 'L') : cnt += 1
print(cnt)

3

In [17]:
# 18

N = 1
while N <= 20 :
    print(N,end=" ")
    N += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [6]:
# 19
tmp = "hello world"

K = iter(tmp)
a = next(K)
print(next(K))

e

In [1]:
# 20
for i in range(1,21) :
    if(i % 2 == 1) : print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [20]:
# 21
for i in range(10 ,-11, -1) :
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5 -6 -7 -8 -9 -10

In [21]:
# 22
tmp = range(-5, 9999999999,2)

for i in tmp :
    if(i >= 20) : break
    if(i % 2 == 1 and i > 0) : print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [22]:
# 23
for i in range(1,6) :
    print('*' * i)

*
**
***
****
*****

In [23]:
# 24 
for i in range(1,6) :
    if(i % 2 == 1) :
        print('*' * i)
    else :
        print('*!' * i)

*
*!*!
***
*!*!*!*!
*****

In [24]:
# 25 
for i in range(1,6) :
    if(i % 2 == 1) :
        continue
        print('*' * i)
    else :
        print('*!' * i)

*!*!
*!*!*!*!